# ==========================================
# PULSE - Python Dependencies
# ==========================================

# 1. Backend Server
Flask

# 2. Digital Signal Processing (DSP) & Math
numpy
scipy
pandas

# 3. Visualization & Reporting
matplotlib
